/* header cho pc*/
header {
   background: #2C1E19;
   height: 55px;
   color: white;  /* màu chữ trắng cho phần header*/
}
/* Để dàng menu ngang giữa phần branch và list item*/
.Menu {
    display: flex;
}
/* tạo chiều dọc , đặt màu nền , đặt chiều cao của logo*/
.Menu-branch {
    align-items: center;
    background: #2C1E19;
    display: flex;
    height: 55px;
    padding-right: 10px; /* giãn cách với list item*/
    flex-grow: 1; /*Bung hết khoảng trống còn lại của layout, 1=100% */
}
.Menu-branch_logo {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 200px;
}
/*căn chỉnh logo với kích thước bố*/
.Menu-branch_logo img {
    object-fit: cover;
}
/*tạo chiều ngang với flex và đặt chiều cao với height, cặp thuộc tính align-item: center và justify-content: center để căn giữa*/
.Menu-branch-search {
    align-items: center;
    border-radius: 3px;
    background: #ffffff;
    color: black;
    display: flex; justify-content: center;
    flex-grow: 1;
    height:35px;
    overflow: hidden; /*đối tượng con nào nằm ngoài đối tượng bố có thuộc tính này sẽ bị ẩn*/
} 
.Menu-branch-search-location {
    align-items:center; /*sau khi tăng chiều cao sẽ bị lệch, dùng lệnh này để căn giữa đối tượng,thêm display flex để nhận lệnh này*/
    background: #ccc;
    display:flex;
    height:100%; /* đặt chiều cao để màu nền đầy khung bố*/
    justify-content: center; /* lệnh này dùng chung với align item, tương tự text align center*/
    width:110px; /* set cứng chiều rộng của đối tượng này */
}
.Menu-branch-search-input {
    /*padding:0 5px; chuyển xuống đối tượng con,padding right và left,sử dụng padding để cách lề của khung input dùng margin khi nhấn vào khoảng giữa sẽ không nhận*/
    height: 100%;
    flex-grow: 1;
    
}
.Menu-branch-search-input input {
    padding:0 5px;
    width:100%;
    height: 100%;
    font-size: 16px;
}
.Menu-branch-search-button {
    align-items: center;
    cursor: pointer; /*hover vào ra hiệu ứng bàn tay*/
    display: flex;
    height:100%;
    justify-content: center;
    width:35px;
    
}
.Menu-list {
    display:flex;
}
.Menu-list_link{
    align-items: center;
    color:#d5d5d5;
    display: flex;
    justify-content: center;
}
.Menu-list_link:hover {
    color:white;
    opacity: 1; /*Tắt mờ màu của file common*/
}
.Menu-list-item {
    align-items: center;
    display: flex;
    text-align: center; /*sử dựng text align thay thế cho justify để cho icon ra giữa*/
    position: relative; /* Hứng thằng con absolute*/
}
.Menu-list-item-content {
    align-items: center;
    cursor: pointer;
    /*color:white;*/
    display:flex;
    height:100%;
    padding:0 10px;
    flex-direction: column; /* khi sử dụng flex thì các class con bị đẩy xuống hàng ngang sử dụng thuộc tính này để giữ nguyên hàng dọc */
    justify-content:center;
}
.Menu-list-item-content:hover {
    
    color:white;
    /*opacity: 1; /*Tắt mờ file common của thẻ a cả màu nền lẫn màu chữ*/
}
.Menu-list-item-content_txt {
    font-size: 14px;
    font-weight: bold;
    margin-top: 3px;
}
.Menu-list-item:hover .Menu-list-item-sub {
    display: block;
   
}

.Menu-list-item-sub {
    bottom:0; /*Nằm cuối thằng bố nó*/
    box-shadow:0px 1.5px 1px 1px rgba(0,0,0,0.2);
    color: black;
    display: none; /*ẩn sub list*/
    left:0;
    padding:0 3px;
    position: absolute; /*Chồng lên layout và phải có 1 thằng bố hứng nó,mặc định sẽ là body*/
    transform:translate(0, 100%); /*x y, y nhân lên và + vào y cũ*/
 
}
.Menu-list-item-sub-list {
    display: flex;
    flex-wrap: wrap; /* Khi tràn viền sẽ tự động xuống dòng*/
    width:320px;
}
.Menu-list-item-sub-list-item {
    text-align:left;
    width:50%;
}
.Menu-list-item-sub-list-item_txt {
    color:#555;
     /*display: block; khi hover vào khoảng trống thì thẻ a vẫn nhận nên ko sử dụng,để thẻ a nhận căn lề,white-space để ko ngắt dòng*/
    text-align:left;
    padding:5px 10px;
    white-space: nowrap;
    
}
.Menu-list-item-sub-list-item_txt:hover {
    color:#000;
    opacity: 1; /*tắt mờ file common*/
    text-decoration:underline;
}
.count {
    color:red;
}

/*-----------------------------------------------------------------header cho sp-------------------------------------------------------------------------*/

.Nav {
    display:flex;
    height:55px;
    transition: all ease-in-out 0.3s; /*Tạo hiệu ứng khi 1 đối tượng thay đổi kích thước*/
    flex-direction: column; /* tạo phần cột(xem thêm)*/
    overflow: hidden;
    position: fixed; /*menu trượt theo lúc kéo*/
    width:100%;

}
.Nav-content {
    background:#2C1E19;
    display:flex;
    height:55px;
    width:100%;
}
.Nav_logo {
    align-items:center;
    border:2px solid #ff7653;
    border-radius: 3px;
    display:flex;
    height:45px;
    margin:5px;
    justify-content: center;
    width:75px;
}
.Nav-search {
    height:45px;
    margin:5px;
    flex-grow: 1;
   
}
.Nav-search-content {
    background:white;
    border-radius: 3px;
    display:flex;
    overflow:hidden;
    height:45px;
    width:100%;
}
.Nav-search-content_input{
    flex-grow:1;

}
.Nav-search-content_input input{
    font-size:16px;
    height:100%;
    padding:0 5px;
    width:100%;

}
.Nav-search-content_button {
    align-items: center;
    color:black;
    display: flex;
    font-size: 20px;
    padding:0 5px;
    justify-content: center;
    width:35px;
}
.Nav-hamburger {
    align-items: center;
    display: flex;
    height:45px;
    overflow: hidden;
    margin:5px 0px;
    justify-content: center;
    width:45px;
}
.Nav-hamburger-content {
    height: 20px;
    width: 30px;
    position: relative;
}
.Nav-hamburger-content_icon {
    background: #ff7653;
    right:0;
    top:0;
    height:2px;
    width:100%;
    position: absolute;
    transition: all ease-in-out 0.25s;
}
.Nav-hamburger-content_icon:nth-child(2) {
   top:10px;
}
.Nav-hamburger-content_icon:nth-child(3) {
   top: 20px;
}
.Nav--active {
    height:100%;
}
.Nav--active .Nav-hamburger-content_icon:first-child {
    right: -60px;
    transform: rotate(-185deg);
    opacity: 0;
}
.Nav--active .Nav-hamburger-content_icon:nth-child(2) {
    top:8px;
    transform: rotate(-135deg);
 }
.Nav--active .Nav-hamburger-content_icon:nth-child(3) {
    top: 8px;
    transform: rotate(135deg);
 }
 .Nav-menu {
     background:rgba(0,0,0,0.25);
     transition: all ease-in-out 0.3s; /*Có hay không cũng được*/
     flex-grow: 1;
     width:100%;
 }
 body {
     height:1500px;
 }
 .Nav-menu-content {
    background: #2C1E19;
 }
 .Nav-menu-content-list {
     display:flex;
     flex-wrap: wrap;
 }
 /*Từ 1024px trở xuống*/
 .Nav-menu-content-list-item {
    border: 1px solid #ff7653;
    border-radius: 5px;
    color: #ff7653;
    font-size: 13px;
    margin:0.5% 0.5%;
    padding: 5px 0;
    text-align: center;
    width: 19%;
}
/*Từ 768px trở xuống*/
@media screen and (max-width: 768px) {
    .Nav-menu-content-list-item {
        
        font-size: 13px;
        margin:0.5% 0.5%;
        padding: 5px 0;
        width: 24%;
    }
}

/*Từ 420px trở xuống*/
@media screen and (max-width: 420px) {
    .Nav-menu-content-list-item {
        font-size: 13px;
        margin:0.5% 0.5%;
        padding: 5px 0;
        width: 32.33%;
    }
  }
/*Từ 375px trở xuống*/
@media screen and (max-width: 375px) {
    .Nav-menu-content-list-item {
        font-size: 13px;
        margin:0.5% 0.5%;
        padding: 5px 0;
        width: 49%;
    }
  }